html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.links {
    text-align: right;
    color: green;
}

.round {
    border-radius: 15px;
}

.grid {
    
    display: grid;
    padding: 5px;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 300px auto;
}

.grid-item {
    
    padding: 5px;
    text-align: left;
}

h2 {
    color: red;
    
}

.boxwidth {
    width: 400px; /* or any other value */
}

.submit-button {
    text-align: center;
}

.submit-advanced {
    background-color: rgb(72, 136, 230);
    color: white;
}

.search {
    text-align: center;
    